{% extends "base.html" %}

{% block content %}
<section class="container py-5">
    <h1>My Projects</h1>
    <p>Here are some project i have worked on:</p>
    <div class="row">
        {% for project in student.projects %}
        <div class="col-sm-6 mb-5 mb-sm-0">
            <div class="card w-51 text-center bg-dark-subtle border-dark-subtle">
                <div class="card-body">  
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    {% for tech in project.tech %}
                        <span class="btn btn-outline-secondary btn-sm">{{tech}}</span>
                    {% endfor %}<br><br>
                    <a href="{{project.github}}" target="_blank" class="btn btn-dark">View on github</a>  
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}